@model bunga.Models.Bungalo

@{
    ViewData["Title"] = "Удаление " + Model.Название;
}

<div class="d-flex flex-column align-items-center">
    <h3>Уверены, что хотите удалить свой бунгало?</h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <div>
                @Html.DisplayFor(model => model.Адрес)
            </div>
            <div>
                @Html.DisplayFor(model => model.Количество_человек)
            </div>

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Адрес)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Адрес)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Количество_человек)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Количество_человек)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Wi_fi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Wi_fi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Сдающий.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Сдающий.UserName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Стоимость_сутки)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Стоимость_сутки)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id_бунгало" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <img class="img-fluid w-75" src="@Model.GetImageFirst()"/>
        </div>
    </div>

</div>
