@model bunga.Models.Bungalo

@{
    ViewData["Title"] = "Редактирование " + Model.Название;
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row mt-5">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_бунгало" />
            <div class="form-group">
                <label asp-for="Название" class="control-label"></label>
                <input asp-for="Название" class="form-control" />
                <span asp-validation-for="Название" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Описание" class="control-label"></label>
                <textarea asp-for="Описание" class="form-control" style="height: 4em; word-break: break-word;"></textarea>
                <span asp-validation-for="Описание" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Адрес" class="control-label"></label>
                <input asp-for="Адрес" class="form-control" />
                <span asp-validation-for="Адрес" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Количество_человек" class="control-label"></label>
                <input asp-for="Количество_человек" class="form-control" />
                <span asp-validation-for="Количество_человек" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wi_fi" /> @Html.DisplayNameFor(model => model.Wi_fi)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Стоимость_сутки" class="control-label"></label>
                <input asp-for="Стоимость_сутки" class="form-control" />
                <span asp-validation-for="Стоимость_сутки" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class="col col-md-6 col-md-offset-2">
            <button class="btn btn-outline-secondary btn-lg w-100" onclick="addToCarousel()" type="button">+</button>
            <div data-ride="carousel" data-interval="false" class="carousel slide bg-dark jumbotron" id="carousel-1">
                <div class="carousel-inner">
                    @{
                        var first = true;
                        var counter = 0;
                        var images = Model.GetImages();
                    }
                    @foreach (var path in images)
                    {
                        if (!string.IsNullOrEmpty(path))
                        {
                            <div class="carousel-item @(first? Html.Raw("active"): Html.Raw(""))">
                                <img class="w-100 d-block" src="@path" alt="Slide Image" />
                                <input name="bungaloImages" type="file" class="form-control" />
                                <button class="btn w-100 btn-danger" onclick="deleteThis(@counter)" type="button">Удалить</button>
                            </div>
                            first = false;
                            counter += 1;
                        }

                    }
                </div>

                <ol class="carousel-indicators">
                    @for (int i = 0; i < images.Length; i++)
                    {
                        if (!string.IsNullOrEmpty(images[i]))
                        {
                            <li data-target="#carousel-1" data-slide-to="@i" class="@(i == 0 ? Html.Raw("active") : Html.Raw(""))"></li>

                        }
                    }
                </ol>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/js/JavaScript.js"></script>
@{
    string paths = ViewData["Images"] as string;
    paths = string.Format("\"['{0}']\"", paths.Replace("&#x27;", "'").Replace("\\", "/"));
}
<script>
    setOnChanges();
    preloadFiles(@Html.Raw(paths));
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
